<div class="center box" itemscope="itemscope" itemtype="http://schema.org/Article">
	<meta property="og:url" content="https://lolnein.com{{ page.url }}/"/>
	<div class="title" itemprop="name" property="dc:title">{{ page.title }}</div>
	<div class="date" itemprop="datePublished" property="dc:date" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</div>
	<div itemprop="articleBody">
		{{ content }}
	</div>

	## Follow LOLNEIN
	
	<div class="social robots-content">
		Follow LOLNEIN on <a href="https://www.patreon.com/lolnein">Patreon</a> +++ <a href="https://www.facebook.com/lolnein">Facebook</a> +++ <a href="https://twitter.com/lolnein">Twitter</a> +++ <a href="https://instagram.com/lolneincom">Instagram</a> +++ <a href="https://lolnein.tumblr.com/">Tumblr</a>
	</div>

	<div class="social robots-nocontent">
		## Support and Follow
	</div>
</div>

<div class="center robots-nocontent" style="text-align: center">
	{% if page.previous %}<a rel="prev" href="{{ page.previous.id }}/" title="Previous"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}

	

	{% if page.next %}<a rel="next" href="{{ page.next.id }}/" title="Next"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
</div>

<div id="disqus_thread" class="center robots-nocontent"></div>
<script type="text/javascript">
	var disqus_shortname = 'lolnein';
	var disqus_identifier = '{{ page.id }}';
	var disqus_url = 'https://lolnein.com{{ page.url }}/';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
