<div class="center box" itemscope="itemscope" itemtype="http://schema.org/Article">
	<meta property="og:url" content="https://lolnein.com{{ page.url }}/"/>
	<div class="title" itemprop="name" property="dc:title">{{ page.title }}</div>
	<div class="date" itemprop="datePublished" property="dc:date" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</div>
	<div itemprop="articleBody">
		{{ content }}
	</div>


<!-- Ezoic - Mid content - mid_content -->
<div id="ezoic-pub-ad-placeholder-103"></div>
<!-- End Ezoic - Mid content - mid_content -->


<div class="title">Shop</div>


Support LOLNEIN comics and <b><a href="https://lolnein.redbubble.com">get something nice from the shop!</a></b>

	<div class="social robots-content">
			<a href="https://lolnein.redbubble.com"><img src="/mug_case_bag2.png" style="width: 100%; height: 100%;" alt="Redbubble Shop"></a> +++ Today (29. February) 20% off EVERYTHING! Code: LEAP20 +++
	</div>


	<div class="social robots-content">
			<a href="https://lolnein.redbubble.com"><img src="/redbubble_collage3.png" style="width: 100%; height: 100%;" alt="Redbubble Shirts"></a>
	</div>


	<div class="title">Follow, Support & Share</div>
	<div class="social robots-content">
			<a class="navsoc" href="https://twitter.com/lolnein"><img src="/twitter.png" style="width: 1cm; height: 1cm;" alt="lolnein on Twitter"/></a>
			<a class="navsoc" href="https://www.facebook.com/lolnein"><img src="/facebook.png" style="width: 1cm; height: 1cm;" alt="lolnein on Facebook"/></a>
			<a class="navsoc" href="https://www.instagram.com/lolneincom"><img src="/instagram.png" style="width: 1cm; height: 1cm;" alt="lolnein on Instagram"/></a>
			<a class="navsoc" href="https://lolnein.com/feed/"><img src="/feed.png" style="width: 1cm; height: 1cm;" alt="lolnein feed"/></a>
			<a href="https://www.patreon.com/bePatron?u=717973" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
	</div>

	<div class="social robots-nocontent">
	</div>
</div>

<!-- Ezoic - bottom of page - bottom_of_page -->
<div id="ezoic-pub-ad-placeholder-105"></div>
<!-- End Ezoic - bottom of page - bottom_of_page -->

<div class="center robots-nocontent" style="text-align: center">
	{% if page.previous %}<a rel="prev" href="{{ page.previous.id }}/" title="Previous"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}

	

	{% if page.next %}<a rel="next" href="{{ page.next.id }}/" title="Next"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
</div>


</script>
